In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import MinMaxScaler

In [22]:
from spellchecker import SpellChecker

In [28]:
df = pd.read_csv('D:/D_DOWNLOADS/swiggy_final.csv')

In [29]:
df.isnull().sum()

Restaurant           0
Cuisine              0
Price_4_two          0
Star_Rating        900
Location             0
Dish_Price           0
consumer_Rating      0
Dish_Name            0
Dish_Category        0
Link                 0
dtype: int64

In [30]:
df.dropna(inplace=True)

In [31]:
df.isnull().sum()

Restaurant         0
Cuisine            0
Price_4_two        0
Star_Rating        0
Location           0
Dish_Price         0
consumer_Rating    0
Dish_Name          0
Dish_Category      0
Link               0
dtype: int64

In [32]:
df.shape

(5162, 10)

In [33]:
df['price_for_two'] = df['Price_4_two'].copy()

In [35]:
# Extract features


price_scaler = MinMaxScaler()
price_features = price_scaler.fit_transform(df['Price_4_two'].values.reshape(-1, 1))

In [38]:
price_features

array([[0.39849624],
       [0.39849624],
       [0.39849624],
       ...,
       [0.12280702],
       [0.12280702],
       [0.12280702]])

In [43]:
df['Location']

0         Indiranagar
1         Indiranagar
2         Indiranagar
3         Indiranagar
4           Jayanagar
            ...
6057     Basavanagudi
6058     Basavanagudi
6059     Banashankari
6060     Banashankari
6061    St Marks Road
Name: Location, Length: 5162, dtype: object

In [45]:
df

,Restaurant,Cuisine,Price_4_two,Star_Rating,Location,Dish_Price,consumer_Rating,Dish_Name,Dish_Category,Link,price_for_two
0,1522 - The Pub,Chinese,800,4.4,Indiranagar,370.0,1000,Black Ginger Tea 300ml,Unknown,https://www.swiggy.com/restaurants/1522-the-pu...,800
1,1522 - The Pub,North Indian,800,4.4,Indiranagar,370.0,1000,Black Ginger Tea 300ml,Unknown,https://www.swiggy.com/restaurants/1522-the-pu...,800
2,1522 - The Pub,Continental,800,4.4,Indiranagar,370.0,1000,Black Ginger Tea 300ml,Unknown,https://www.swiggy.com/restaurants/1522-the-pu...,800
3,1522 - The Pub,Seafood,800,4.4,Indiranagar,370.0,1000,Black Ginger Tea 300ml,Unknown,https://www.swiggy.com/restaurants/1522-the-pu...,800
4,1522 - The Pub,Chinese,800,4.4,Jayanagar,218.0,20,Chicken Biryani R (portion Size : 900 Grams ...,Recommended (14),https://www.swiggy.com/restaurants/1522-the-pu...,800
...,...,...,...,...,...,...,...,...,...,...,...
6057,limelight-Royal Orchid Hotel,North Indian,250,4.0,Basavanagudi,129.0,1000,Chicken Sour & Pepper Wonton Soup [500 Ml],Unknown,https://www.swiggy.com/restaurants/limelight-r...,250
6058,limelight-Royal Orchid Hotel,Indian,250,4.0,Basavanagudi,129.0,1000,Chicken Sour & Pepper Wonton Soup [500 Ml],Unknown,https://www.swiggy.com/restaurants/limelight-r...,250
6059,limelight-Royal Orchid Hotel,North Indian,250,4.0,Banashankari,99.0,1000,Bombay Veg Chutney Sandwich,Recommended (29),https://www.swiggy.com/restaurants/limelight-r...,250
6060,limelight-Royal Orchid Hotel,Indian,250,4.0,Banashankari,99.0,1000,Bombay Veg Chutney Sandwich,Recommended (29),https://www.swiggy.com/restaurants/limelight-r...,250
6061,london dairy,Ice Cream,250,4.3,St Marks Road,170.0,5000,Chicken Wanton Soup,Unknown,https://www.swiggy.com/restaurants/london-dair...,250

In [46]:
user_location = input('Enter your location: ')


# Find average price for one person in the given location
average_price = df[df['Location'] == user_location]['price_for_two'].mean()

# Display average price for one person in the given location
print(f'Average price for one person in {user_location}: Rs. {average_price:.0f}')

Enter your location: Indiranagar
Average price for one person in Indiranagar: Rs. 403

In [21]:
price_features.shape

(5162, 1)

In [25]:
# Extract features


# Create a TF-IDF vectorizer for cuisine
cuisine_vectorizer = TfidfVectorizer(stop_words='english')
cuisine_features = cuisine_vectorizer.fit_transform(df['Cuisine'])

# Scale the price values
price_scaler = StandardScaler()
df['Price_4_two'] = price_scaler.fit_transform(df['Price_4_two'].values.reshape(-1, 1))

In [49]:
# Define user preferences
user_cuisine = input('Enter your preferred cuisine: ')
spell = SpellChecker()
misspelled_words_c = spell.unknown(user_cuisine.split())
if misspelled_words_c:
    print(f"Did you mean: {spell.correction(user_cuisine)}?")
else:
    print("Your cuisine preference is correctly spelled.")

    
user_location = input('Enter your location: ')
user_price = float(input('Enter your preferred price for two person: '))

# Find popular cuisine in the given location
popular_cuisine = df[df['Location'] == user_location]['Cuisine'].value_counts().index[0]

# Display popular cuisine in the given location
print(f'Popular cuisine in {user_location}: {popular_cuisine}')

# Find average price for two person in the given location
average_price = df[df['Location'] == user_location]['price_for_two'].mean()

# Display average price for two person in the given location
print(f'Average price for two person in {user_location}: Rs. {average_price:.0f}')

# Find the most popular restaurant in the given location
most_popular_restaurant = df[df['Location'] == user_location]['Restaurant'].value_counts().index[0]

# Display the most popular restaurant in the given location
print(f'Most popular restaurant in {user_location}: "{most_popular_restaurant}" with {popular_cuisine} cuisine')

# Find the most popular restaurant in the given location with the preferred cuisine
most_popular_cuisine_restaurant = df[(df['Location'] == user_location) & (df['Cuisine'].str.contains(user_cuisine, case=False))]['Restaurant'].value_counts().index[0]

# Display the most popular restaurant in the given location with the preferred cuisine
print(f'Most popular restaurant in {user_location} with {user_cuisine} cuisine: "{most_popular_cuisine_restaurant}"')

# Find similar restaurants
similar_restaurants =[]
for idx in range(cuisine_features.shape[0]):
    restaurant = df.iloc[idx]
    if user_cuisine.lower() in restaurant['Cuisine'].lower():
        score = cosine_similarity(cuisine_features[idx], cuisine_vectorizer.transform([user_cuisine]))[0][0] + price_scaler.transform([[restaurant['Price_4_two']]])[0][0]
        similar_restaurants.append((restaurant['Restaurant'], score))

        

# Sort the restaurants by similarity score
similar_restaurants = sorted(similar_restaurants, key=lambda x: x[1], reverse=True)

# Display recommended restaurants
print('Recommended Restaurants:')
for restaurant, score in similar_restaurants[:5]:
    print(f'{restaurant} (Score: {score:.2f})')

# Suggest a price
if user_price < average_price:
    suggested_price = round(user_price * 1.1)
else:
    suggested_price = round(average_price)
print(f'Suggested price for two person: Rs. {suggested_price}')

Enter your preferred cuisine: italian
Your cuisine preference is correctly spelled.
Enter your location: Indiranagar
Enter your preferred price for two person: 300
Popular cuisine in Indiranagar:  Desserts
Average price for two person in Indiranagar: Rs. 403
Most popular restaurant in Indiranagar: "Desi Chulha" with  Desserts cuisine
Most popular restaurant in Indiranagar with italian cuisine: "Aubree"
Recommended Restaurants:
Trippy Goat Cafe & Wine (Score: 1.75)
Trippy Goat Cafe & Wine (Score: 1.75)
Chianti (Score: 1.62)
Chianti (Score: 1.62)
Little Italy (Score: 1.60)
Suggested price for two person: Rs. 330